.signUpBodyBgColor{
    background:#dcdcdc;
}
.loginBodyBgColor{
    background:#dcdcdc;
}
.successMesssageBgColor{
    background:#dcdcdc;
}

.developerMesssageBgColor{
    background:#dcdcdc;
}

.forgotPassBgColor{
    background:#dcdcdc;
}
.changePassBgColor{
    background:#dcdcdc;
}
.successPassChangeBgColor{
    background:#dcdcdc;
}
.verifySuccess{
    background:#dcdcdc;
}