body { font-family:"Segoe UI", Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif; color:#111; }
body.gray { background:#dcdcdc; }
img { width:100%; }
a { transition:all 200ms ease-out; }
a:hover { text-decoration:none; }
h2 { font-size:15px; letter-spacing:3px; font-weight:400; margin:0 0 30px; }
p { font-size:14px; color:#111; margin:0 0 20px; }

.tableFixHead .table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td{
	padding: 5px !important;
}
.tableFixHead .table>thead>th{
	padding:  5px !important;
}
.tableFixHead .table>tbody>tr:hover{
	background: gray;
}
.btn { height:40px; line-height:40px; border-width:1px; border-style:solid; padding:0 25px; border-radius:20px; font-size:13px; }
.btn.cyan { border-color:#02aae3; color:#02aae3; }
.btn.cyan:hover { border-color:#111; color:#111; }
.btn.gradient { height:50px; line-height:46px; color:#fff; font-size:24px; font-weight:400; padding:0 30px; border-radius:25px; background:#02aae3; background:-moz-linear-gradient(left, #1571b2 0%, #02aae3 56%, #1571b2 100%); background:-webkit-linear-gradient(left, #1571b2 0%,#02aae3 56%,#1571b2 100%); background:linear-gradient(to right, #1571b2 0%,#02aae3 56%,#1571b2 100%); }
.btn.gradient:hover { background:#1571b2; background:-moz-linear-gradient(left, #1571b2 0%, #1571b2 56%, #1571b2 100%); background:-webkit-linear-gradient(left, #1571b2 0%,#1571b2 56%,#1571b2 100%); background:linear-gradient(to right, #1571b2 0%,#1571b2 56%,#1571b2 100%); }
/* FLAGS */
.bt-style button {float: right;}
.bt-style .btn-link:hover{text-decoration: none;} 
.bt-style .btn-link:active{text-decoration: none;} 
.flag{display:inline-block;position: relative;width:20px;height:15px;}

header { padding:20px 0; }
header .logo { display:block; height:50px; }
header .logo img { width:auto; height:100%; }
header #hamburger { display:block; height:50px; line-height:50px; padding:0; color:#02aae3; font-size:35px; }
header #hamburger:hover { color:#2e76ee; }
header .button { padding:10px 30px; line-height:30px; border-radius:20px; box-shadow:0 5px 15px rgba(0,0,0,0.2); font-weight:700; font-size:18px; color:#111; }
header .button:active { box-shadow:0 5px 15px rgba(0,0,0,0.2)!important; }
header .button a { color:#111; }
header .button a:hover { color:#02aae3; }
@media (max-width:768px) {
	header .button { padding:0; box-shadow:none; }
}
@media (max-width:550px) {
	header #hamburger { height:36px; line-height:36px; font-size:30px; }
	header .logo { height:36px; }
	header .button a { display:block; text-align:right; font-size:14px; line-height:24px; }
	header .button:active { box-shadow:none!important; }
	header .button span { display:none; }
}

#menu { display:none; width:100%; height:100%; position:fixed; left:0; top:0; z-index:500; }
#menu .nav { display:table; padding:50px; margin-left:-15px; background:#fff; box-shadow:0 5px 15px rgba(0,0,0,0.2); }
#menu .nav-item .nav-link { display:block; font-size:14px; color:#111; line-height:24px; height:30px; box-shadow:0 0 0 #2e76ee; padding:3px 10px; margin:3px 0; }
#menu .nav-item .nav-link.active { box-shadow:-50px 0 0 #2e76ee; cursor:default; }
#menu .nav-item .nav-link:not(.active):hover { color:#2e76ee; }
#menu .nav-item .nav-link.gray { border-top:1px solid #ddd; border-bottom:1px solid #ddd; color:#aaa; }
#menu .nav-item .nav-link.gray:hover{color:#aaa;}
#menu .nav-item .nav-link i { display:inline-block; width:30px; text-align:center; font-size:16px; padding-right:5px; }
#menu .nav-item .nav-link i img { width:17px; height:17px; }
	#menu-bg { display:none; position:fixed; left:0; top:0; width:100vw; height:100vh; overflow:hidden; background:rgba(0,0,0,0.1); z-index:490; }
.banner-background{ background-repeat:no-repeat; background-position:50% 50%; background-size:contain;}
.btn-round-none{border-radius: 0}


#howitwork .howitwork-body{background: #1571b2;color: white;padding: 40px;margin-bottom: 20px;}
#howitwork .howitwork-body h1{text-align: center; padding: 40px 0 10px 0;font-weight: 700;font-family: 'NeoTech-Bold';}
#howitwork .howitwork-body p{font-size:30px;text-align: center; margin-left: auto;margin-right: auto;width: 23em;color: white;font-weight: 600;font-family: Neo Tech;padding-bottom: 55px;}
#howitwork .howitwork-content{ padding: 40px;margin-bottom: 20px;width: 81em;}
#howitwork .howitwork-content h1{text-align: center; padding: 40px 0 10px 0;font-weight: 600;color: #5ab3f3}
#howitwork .howitwork-content .list-body{font-size:30px;display: flex; margin-left: auto;margin-right: 207px;width: 23em;}
#howitwork .howitwork-content .list-body .numbers h2{font-size:200px;margin: -19px 14px; color: #5ab3f3;}
#howitwork .howitwork-content .list-body .item-list p{font-size: 27px;color: #5ab3f3;line-height: 32px;}
#banner .overlay { display:flex; align-items:center; justify-content:center; padding:100px 40px; background-repeat:no-repeat; background-position:50% 50%; background-size:contain; min-height:54.2vw; }
#banner .overlay h2 { text-align:center; color:#fff; }
#banner .overlay h1 { color:#fff; font-size:42px; text-align:center; font-weight:700; margin:0 0 40px; line-height:1; }
#banner .overlay a { display:table; margin:0 auto; }
#banner .overlay a:hover { color:#111; }
#contact-us{margin-top: 15px; margin-bottom: 25px}
#contact-us .title h1{font-size: 27px;}
#contact-us .ct-wrapper{background:#f5f5f5;border: 1px solid #e3e3e3;min-height: 20px;margin-bottom: 20px;padding: 20px;border-radius: 3px;box-shadow: inset 0 1px 1px rgba(0,0,0,.05);}
#contact-us .ct-wrapper .mandatory{color: red;}
#contact-us .ct-wrapper .custom-btn{border: none;border-radius: unset;float: right; background: #428bca !important}
#contact-us .ct-wrapper .custom-btn:hover{opacity: .8;}
#contact-us .ct-wrapper .error-messag{height: 14px;font-size: 14px; color: red;}
#help-center{margin-top: 15px; margin-bottom: 25px}
#help-center .title h1{font-size: 27px;}
#help-center .content-wrapper  h5{font-size: 15px;}
#help-center .content-wrapper .arrow-icon > a {display: block;position: relative;color: black;}
#help-center .content-wrapper .arrow-icon > a:hover{color: #007bff}
#help-center .content-wrapper .arrow-icon > a:after {content: "\f063" !important; /* fa-chevron-down */font-family: 'FontAwesome';font-size: 14px;position: absolute;left: -17px;top: 1px;}
#help-center .content-wrapper .arrow-icon > a[aria-expanded="true"]:after {content: "\f062" !important; /* fa-chevron-up */}
#help-center .content-wrapper #accordion .card{border: none;}
#help-center .content-wrapper #accordion .card-header{    background-color: rgba(0,0,0,-1.97) !important}
#help-center .search-bar{background: lightgrey; padding: 30px;}
#help-center .search-bar input{height: 40px;border: none;}
#help-center .search-bar .has-search .form-control {padding-left: 2.375rem;}	
#help-center .search-bar .has-search .form-control-feedback {position: absolute;	z-index: 2;display: block;width: 2.375rem;height: 2.375rem;line-height: 2.375rem;text-align: center;pointer-events: none;color: #aaa;}
/* width */
.tableFixHead::-webkit-scrollbar {
	width: 10px;
  }
  
  /* Track */
  .tableFixHead::-webkit-scrollbar-track {
	background: #f1f1f1; 
  }
   
  /* Handle */
  .tableFixHead::-webkit-scrollbar-thumb {
	background: #888; 
  }
  
  /* Handle on hover */
  .tableFixHead ::-webkit-scrollbar-thumb:hover {
	background: #555; 
  }
  
.tableFixHead{ overflow-y: auto; height: 200px; }
.tableFixHead table thead th { position: sticky; top: 0;background: rgb(219, 218, 213) }
.banner-background .overlay { display:flex; align-items:center; justify-content:center; padding:100px 40px; background-repeat:no-repeat; background-position:50% 50%; background-size:contain; min-height:54.2vw; }
.banner-background .overlay h2 { text-align:center; color:#fff;margin-bottom: 12px;text-transform: uppercase }
.banner-background .overlay h1 { color:#fff; font-size:42px; text-align:center; font-weight:700; margin:0 0 40px; line-height:1; }
.banner-background .overlay a { display:table; margin:0 auto; }
.banner-background .overlay a:hover { color:#111; }
.subscribe-section{position: relative;text-align: center;color: white;}
.subscribe-section .center-text{position: absolute;top: 50%;left: 30%;font-size: 42px;font-weight: 700}
@media (max-width:768px) {
	.banner-background{ background-repeat:no-repeat; background-position:50% 50%; background-size:cover;}
	.banner-background .overlay { background-size:cover; }
	.banner-background .overlay h1{ font-size:25px; }
	.banner-background .overlay a { font-size:20px; }
	.subscribe-section .center-text{left: 20%;font-size: 23px;}
	#howitwork{overflow-x: hidden}
	#howitwork .howitwork-body p{width: 12em;font-size: 24px;}
	#howitwork .howitwork-content{padding: 0px;margin-bottom: 20px;width: 25em}
	#howitwork .howitwork-content h1 { text-align: center;padding: 3px 0 9px 0;font-weight: 400;color: #5ab3f3;}
	#howitwork .howitwork-content .list-body {font-size: 17px;display: -ms-flexbox;display: flex;margin-left: auto;margin-right: 206px;width: 23em;}
	#howitwork .howitwork-content .list-body .numbers h2 {font-size: 119px;margin: 6px 4px;color: #5ab3f3;}
	#howitwork .howitwork-content .list-body .item-list p {font-size: 22px;color: #5ab3f3;line-height: 28px;text-shadow: 1px 1px #e6e6e8;}
}

@media (max-width:500px) and (min-width:320px) {
	.banner-background .overlay h1{ font: size 20px; }
	.banner-background .overlay a { font-size:18px; }
	.subscribe-section .center-text{left: 17%;font-size: 18px;}
	#howitwork .howitwork-content .list-body {font-size: 17px;display: -ms-flexbox; display: flex; margin-left: auto; margin-right: 206px;  width: 20em;}
}
.aim { padding:100px 0; }
.aim h2 { color:#111; }
@media (max-width:768px) {
	.aim img { margin-bottom:30px; }
	.aim a { display:table; margin:0 auto; }
}

.winning { background:url("../Images/winning-combination.jpg") no-repeat 50% 50%; background-size:cover; padding:100px 0; display:flex; align-items:center; min-height:40vw; }
.winning > div { width:100%; }
.winning > div h2 { color:#fff; text-align:center; }
.winning > div p { color:#fff; text-align:center; margin:0; }

.people { padding:100px 0; }
.people h2 { color:#111; }
.people p { margin:0; }
.people .nav { display:table; margin:0 auto 50px; }
.people .nav .nav-item { display:inline-block; padding:0; border:0; }
.people .nav a { display:inline-block; padding:0 8px; font-size:14px; font-weight:700; border:0; border-bottom:2px solid #707070; color:#b6b8ba; }
.people .nav a:hover { border-bottom:2px solid #707070; color:#b6b8ba; }
.people .nav a.active { border-bottom:2px solid #02aae3; color:#02aae3; }
@media (max-width:768px) {
	.people .tab-content img { margin-bottom:30px; }
}

footer { background:#1571b2; padding:50px 0; }
footer img { max-width:150px; display:table; margin:0 auto; }
footer .social { display:table; margin:18px auto 30px; }
footer .social a { display:inline-block; width:40px; height:40px; line-height:40px; background:#fff; color:#02aae3; text-align:center; border-radius:50%; margin:0 15px; font-size:20px; }
footer .social a:hover { background:#02aae3; color:#fff; }
footer .useful-link { display:table; margin:-30px auto 30px; }
footer .useful-link a {color:#fff; }
footer .useful-link a:hover { color:#02aae3; }
footer .useful-link a #vh {color:#fff;margin: 0 8px; height: 5px; }

footer p { color:#fff; text-align:center; margin:0; }
footer.footer2 { padding-bottom:35px; }
footer.footer2 small { color:#fff; display:block; text-align:left; font-size:12px; }
footer.footer2 img { margin:0; width:150px; max-width:100%; }
footer.footer2 a { color:#fff; display:block; font-size:18px; margin-bottom:15px; padding:0 5px; }
footer.footer2 a:hover { text-decoration:underline; }
@media (max-width:992px) {
	footer.footer2 a { font-size:14px; }
}
@media (max-width:768px) {
	footer.footer2 a { text-align:center; }
	footer.footer2 small { text-align:center; margin-bottom:15px; }
	footer.footer2 img { margin:0 auto; }
}

#login { width:100%; min-height:calc(100vh - 180px); display:flex; justify-content:center; align-items:center; }
#login .holder { width:750px; border-radius:20px; overflow:hidden; border:1px solid #666; }
#login .holder .left { width:50%; background-image:url("../Images/banner.jpg"); background-repeat:no-repeat; background-size:cover; background-position:50% 50%; position:relative; padding:160px 0; }
#login .holder .left:after { content:""; position:absolute; left:0; top:0; width:100%; height:100%; z-index:100; background:#02aae3; background:-moz-linear-gradient(left, #1571b2 0%, #02aae3 56%, #1571b2 100%); background:-webkit-linear-gradient(left, #1571b2 0%,#02aae3 56%,#1571b2 100%); background:linear-gradient(to right, #1571b2 0%,#02aae3 56%,#1571b2 100%); opacity:0.8; }
#login .holder .left .d-flex { position:relative; height:100%; z-index:110; }
#login .holder .left img { width:70%; display:table; margin:0 auto 30px; }
#login .holder .left p { font-size:15px; color:#fff; text-align:center; margin:0; }
#login .holder .right { width:50%; background:#fff; text-align:center; }
#login .holder .right .d-flex { height:100%; }
#login .holder .right .d-flex > div { width:100%; }
#login .holder .right h2 { color: #111;    font-size: 30px;      font-weight: 700;    margin: 0 0 30px; letter-spacing:0; }
#login .holder .right h2:after { content:""; width:60px; height:8px; background:#1571b2; display:table; margin:20px auto 0; }
#login .holder .right input { display:block; width:80%; height:50px; line-height:50px; border-radius:30px;margin:0 auto 0px; padding-left:48px; background-color:#e5e5e5; background-size:contain; background-position:3px 0; background-repeat:no-repeat; border:0; }
#login .holder .right .errorMsg{  color: red;height: 20px;}
#login .holder .right  input:focus{
	outline: none;
}
#login .holder .right input[type="email"],
#login .holder .right input[type="text"] { background-image:url("../Images/login-user.png"); }
/* #login .holder .right input[type="password"] { background-image:url("../Images/login-pass.png"); } */
#login .holder .right #inputPassword { background-image:url("../Images/login-pass.png"); }
#login #viewPass{position: relative;margin-top: -33px;margin-right: 51px;z-index: 2;float: right;display: none;}
#login #questionMark{ cursor: pointer; margin-top: -33px;position: relative;margin-right: 20px;float: right;}
#login .__react_component_tooltip.place-top{width: 200px;text-align: left;word-wrap: none;}
#login .holder .right .btn { font-size:18px; font-weight:700; display:table; margin:20px auto 10px; width:80%; text-align:center; }
#login .holder .right a { font-size:12px; font-weight:400; text-align:center; color:#a9a9a9; display:block; }
#login .holder .right a:hover { color:#666; }
#login .holder .right a.create { font-size:14px; margin:30px 0 0; }
#login .holder .right a.create img { margin:0 0 0 3px; width:auto; height:12px; }
#login .holder .toc,
#login .holder .radios { display:table; margin:0 auto; width:80%; }
#login .holder .toc { margin-bottom:15px; }
#login .holder .toc label,
#login .holder .radios label { display:block; color:#070707; width:100%; height:20px; clear:both; text-align:left; font-size:14px; position:relative; line-height:20px; padding-left:25px; cursor:pointer; position:relative; }
#login .holder .toc label { font-size:14px; margin-top:10px; cursor:default; line-height:15px; }
#login .holder .toc label a { display:inline; font-size:14px; }
#login .holder .toc label input,
#login .holder .radios label input { position:absolute; left:-9999px; }
#login .holder .toc label  .checkmark,
#login .holder .radios label .checkmark { position:absolute; left:2.5px; top:2.5px; width:15px; height:15px; border-radius:50%; background:#555; box-shadow:0 0 0 8px #e5e5e5 inset; z-index:100; cursor:pointer; }
#login .holder .radios label input:checked ~ .checkmark { box-shadow:0 0 0 6px #e5e5e5 inset; }
#login .holder .toc label  .checkmark { background:#fff; box-shadow:0 0 0 1px #555 inset; z-index:100; }
#login .holder .toc label  input:checked ~ .checkmark { box-shadow:0 0 0 6px #555 inset; }
@media (max-width:768px) {
	#login .holder { width:100%; border:0; border-radius:0; }
	#login .holder .left,
	#login .holder .right { width:100%; padding:60px 0; }
	#login #viewPass{position: relative;margin-top: -33px;margin-right: 64px;z-index: 2;float: right;display: none;}
}
.__react_component_tooltip{width: 200px;text-align: left;word-wrap: none;}
.profile-top { background:url("../Images/profile-bg.jpg") no-repeat 50% 50%; background-size:cover; padding-top:100px; }
.profile-top .dp { margin-bottom:-100px; position:relative; z-index:10;text-align: center;
    vertical-align: middle;
    background: white;
    display: flex;;min-height: 311px;}
.profile-top .dp img { position:relative; z-index:11;margin:auto}
.profile-top .dp a { position:absolute; z-index:12; left:0; bottom:0; width:100%; height:40px; line-height:40px; text-align:center; color:#fff; background:rgba(0,0,0,0.5); opacity:0; }
.profile-top .dp:hover a { opacity:1; }
.profile-top .dp a:hover { background:rgba(0,0,0,0.9); }
.profile-top .right { display:flex; align-items:flex-end; justify-content:space-between; padding-bottom:50px; }
.profile-top .right h3 { color:#fff; font-size:36px; font-weight:400; margin:0 0 10px; }
.profile-top .right h4 { color:#fff; font-size:20px; font-weight:400; margin:0; }
.profile-top .right .button,
.profile-top .right .button a { font-size:18px; color:#fff; }
.profile-top .right .button a:hover { color:#ccc; }
.profile-top .right .button span { padding:0 10px; }
.profile-top .right .aligned-edit{ margin-top: -56px;margin-right: -70px;color: white }
.profile-top .right .profile-edit .span{padding:0px}
.profile-top .right .profile-save .span{padding:0px}
.profile-bot .spacer { height:30px; }
.profile-bot h5 { color:#111; font-size:20px; font-weight:400; margin:0 0 10px; color:#111; }
.profile-bot h6 { color:#111; font-size:20px; font-weight:700; margin:0; color:#111; }
.profile-bot a,
.profile-bot p { color:#111; font-size:14px; font-weight:400; margin:0 0 5px; color:#111; display:block; }
.profile-bot a:hover { color:#02aae3; }
.profile-bot .about { padding:20px; background:#fff; box-shadow:0 3px 15px rgba(0,0,0,0.15); margin:100px 0 30px; }
.profile-bot .about hr { width:100%; height:1px; background:#bbb; margin:20px 0; border:0; }
.profile-bot .about .lang { position:relative; }
.profile-bot .about .lang a { position:absolute; right:0; top:50%; transform:translateY(-50%); color:#02aae3; font-size:20px; }
.profile-bot .about .lang a:hover { color:#1571b2; }
.profile-bot .about form { border:1px solid #bbb; border-radius:6px; overflow:hidden; display:flex; align-items:stretch; }
.profile-bot .about form input { width:calc(100% - 30px); height:30px; line-height:30px; font-size:14px; border:0; padding:0 10px; }
.profile-bot .about form button { width:30px; height:30px; line-height:30px; text-align:center; border:0; background:#02aae3; color:#fff; padding:0; }
.profile-bot .card { padding:20px; background:#fff; box-shadow:0 3px 15px rgba(0,0,0,0.15);  margin:0 0 30px; }
.profile-bot .card p.location { display:flex; justify-content:space-between; font-size:12px; }
.profile-bot .card a.more { text-align:right; color:#666; }
.profile-bot .card a.view { text-align:center; color:#02aae3; font-size:16px; font-weight:700; }
.profile-bot .card a.view:hover { color:#1571b2; }


.box{width: 100%; padding: 30px; background: white;margin: 0 auto;border-radius: 6px}
.box img{margin-bottom: 20px}
.box h1{font-size: 20px;}
.box p{ margin-top: 30px;text-align: center;}
.box a{ padding:10px 110px;background:#426d9c;border:none;text-decoration:none;cursor:pointer;color:white;margin-bottom:20px;border-radius:8px;}

@media (max-width:768px) {
	.profile-top .right .button { margin-top:30px; }
	.profile-top .right { display:block; }
	.profile-top { padding-top:50px; }
	.profile-top .right .aligned-edit{ margin-top: -56px;margin-right: 40px;color: white }
	.profile-top .right .aligned-edit span{display: none}
	.profile-top .right .profile-edit .span{display: none}
	.profile-top .right .profile-save .span{display: none}
	.profile-bot .spacer { display:none; }
	.profile-bot .span{display: none}
	.profile-top .dp { margin-bottom:30px;  }
	.profile-bot .about { margin-top:30px; }
	.box a{ padding:10px 60px;background:#426d9c;border:none;text-decoration:none;cursor:pointer;color:white;margin-bottom:20px;border-radius:8px;}

}


#intro { width:100vw; height:100vh; left:0; top:0; position:fixed; background:url("../Images/banner.jpg") no-repeat 50% 50%; background-size:cover; position:relative; padding:150px 0; }
#intro:after { content:""; position:absolute; left:0; top:0; width:100%; height:100%; z-index:100; background:#02aae3; background:-moz-linear-gradient(left, #1571b2 0%, #02aae3 56%, #1571b2 100%); background:-webkit-linear-gradient(left, #1571b2 0%,#02aae3 56%,#1571b2 100%); background:linear-gradient(to right, #1571b2 0%,#02aae3 56%,#1571b2 100%); opacity:0.8; }
#intro img { width:400px; max-width:90%; position:fixed; left:50%; top:50%; transform:translateX(-50%) translateY(-50%); z-index:150; }


.sweet-loading{ margin: 0 auto;z-index: 5000;width: 100%;position: absolute;left: 50%;}

.datePicker {margin-left:10px;max-width: 100px;}
.errorMsg {color:red;margin: 0px;}
.form-group {margin-bottom: 0.1rem;}
.languageList{padding-left: 0;}
.languageList li {list-style: none;display: -webkit-inline-box;}


.HcrTo {
    background: #1571b2;
    padding: 0 !important;
}
.hLrWNh,.ffiUQl{
	font-weight: bold !important;
}

.experienceDetail,.educationDetail{
	font-size: 20px !important;
}

body.react-confirm-alert-body-element{overflow:hidden}.react-confirm-alert-blur{filter:url(#gaussian-blur);filter:blur(2px);-webkit-filter:blur(2px)}.react-confirm-alert-overlay{position:fixed;top:0;left:0;right:0;bottom:0;z-index:1055;background:rgba(255,255,255,0.9);display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:flex;justify-content:center;-ms-align-items:center;align-items:center;opacity:0;-webkit-animation:react-confirm-alert-fadeIn .5s .2s forwards;-moz-animation:react-confirm-alert-fadeIn .5s .2s forwards;-o-animation:react-confirm-alert-fadeIn .5s .2s forwards;animation:react-confirm-alert-fadeIn .5s .2s forwards}.react-confirm-alert-body{font-family:Arial,Helvetica,sans-serif;width:400px;padding:30px;text-align:left;background:#fff;border-radius:10px;box-shadow:0 20px 75px rgba(0,0,0,0.13);color:#666}.react-confirm-alert-svg{position:absolute;top:0;left:0}.react-confirm-alert-body > h1{margin-top:0; font-size:1rem !important}.react-confirm-alert-body > h3{margin:0;font-size:16px}.react-confirm-alert-button-group{display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:flex;justify-content:flex-start;margin-top:20px}.react-confirm-alert-button-group > button{outline:none;background:#333;border:none;display:inline-block;padding:6px 18px;color:#eee;margin-right:10px;border-radius:5px;font-size:12px;cursor:pointer}@-webkit-keyframes react-confirm-alert-fadeIn{from{opacity:0}to{opacity:1}}@-moz-keyframes react-confirm-alert-fadeIn{from{opacity:0}to{opacity:1}}@-o-keyframes react-confirm-alert-fadeIn{from{opacity:0}to{opacity:1}}@keyframes react-confirm-alert-fadeIn{from{opacity:0}to{opacity:1}}

.react-month-picker .calendar-container{
	top:-205px !important;
}

.month-input {width: 100% !important}